.detail_info{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
   
 }
 
 .detail_item {
     border-bottom: solid 1px rgb(0, 0, 0, 20%);
     padding: 7px 0px 8px;
     display: flex;
     justify-content: space-between;
     width: 1000px;
 }
 .detail_label{
     width: 250px;
 }
 .detail_content{
     width: 750px;
 }
 