.LWBtnPBrd{
  border:0;
  background: #ffffff;
  color:  #7f5feb;
  border : #7f5feb solid 2px;
  border-radius: 10px;

  width:24rem;
  height: 49px;
  font-size: 16px;

  transition: 0.3s;
  cursor: pointer;
  margin:auto;
  margin-top: 10px;
  display:block;
}
.LWBtnPBrd:hover {
  background: #5d33e6;
  color: #ffffff;
}